name: Go

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:

  build:
    strategy:
      matrix:
        os: [linux, freebsd]
        arch: [amd64, arm, arm64, riscv64]

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: install qemu
      run: |
        sudo apt-get update
        sudo apt-get -y install qemu-system-x86

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: "1.23"

    - name: Build
      run: |
        go build -v ./...
        (cd cmds/cpud && GOARCH=${{ matrix.arch }} go build -o cpud.${{ matrix.arch }} .)

    - name: Test
      run: go test -v ./...
